/**/
/*Copy and paste for comments*/

body {
  margin: 0px;
  padding: 0px;
  /*Text Style*/
  color: black;
  font-family: "Roboto", sans-serif;
}

nav{
  margin-left: 11vw;
  margin-right: 11vw;
  margin-top: 4em;
  padding-bottom: 2em;
}

ul{
  padding: 0em;
  display: inline;
}

li {
  display: inline;
}

.Title {
  margin-left: 11vw;
  margin-right: 11vw;
  padding-top: 120px;
  padding-bottom: 120px;
  
}

.Title p {
  font-size: 3em;
  margin: auto;
  background: rgb(120,37,219);
  background: linear-gradient(31deg,  rgb(51, 150, 236) 0%, rgb(137, 51, 241) 60%);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-container {
  margin-left: 11vw;
  margin-right: 11vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4em 0px;
  grid-template-areas:
    "Img Img Img Img"
    "Name Name Info Info";
}

.Img { grid-area: Img; }
.Name { grid-area: Name; 
this is a test}
.Info { grid-area: Info; }